{% extends "base.html" %}

{% block body_block %}
<div class="container">
    <div>
        <div>
            <h2> Contract details </h2>
        </div>
        <div>
            <ul>
                <li><b>Name: </b> {{ contract.name }} </li>
                <li><b>Start Date: </b> {{ contract.start_date }} </li>
                <li><b>End Date: </b> {{ contract.end_date }} </li>
                <li><b>Salary: </b> {{ contract.salary }} </li>
                <li><b>Employee: </b> {{ contract.employee_id }} </li>
                <li><b>Positions: </b> {{ contract.job_id.all|join:", " }}</li>
            </ul>              
        </div>
        <a href="javascript:history.back()" class="btn btn-dark"> Back </a>

    </div>    
</div>
{% endblock %}