{% load static %}
<html>
    <head>
        <title> HRMS </title>

            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            <link rel="stylesheet" href="style2.css">
           
<style> 

.body1 {
        background-image: url({% static 'bg.jpg' %});
        background-size: cover;
        color: black;
        
        
    }
    </style>
    </head>
    <body class="body1">
        {% include 'header.html' %}
        {% include 'navber.html' %}
        {% block head_block %} {{ form.media }} {% endblock %}
        
        {% block body_block %} {% endblock %}
        {% include 'footer.html' %}
    </body>
</html>


