{% extends "base.html" %}

{% block body_block %}
<div class="container">
    <div>
        <div>
            <h2> Recuriments details </h2>
        </div>
        <div>
            <ul>
                <li><b>Name: </b> {{ recuriments.name }} </li>
                <li><b>Name: </b> {{ recuriments.email }} </li>
                <li><b>Name: </b> {{ recuriments.phone }} </li>
                <li><b>Name: </b> {{ recuriments.address }} </li>
                <li><b>Name: </b> {{ recuriments.birthday }} </li>
                <li><b>Name: </b> {{ recuriments.image }} </li>
                <li><b>Name: </b> {{ recuriments.education }} </li>
                <li><b>Name: </b> {{ recuriments.skill }} </li>
                <li><b>Name: </b> {{ recuriments.experience }} </li>
                <li><b>Name: </b> {{ recuriments.objective }} </li>
                <li><b>Name: </b> {{ recuriments.interest }} </li>
                <li><b>Name: </b> {{ recuriments.position }} </li
                   
                   
            </ul>              
        </div>
        <a href="javascript:history.back()" class="btn btn-dark"> Back </a>

    </div>    
</div>
{% endblock %}