{% extends "base.html" %}

{% block body_block %}

<div class="container">
    <h2> Do you want to delete employee ? </h2>
    <div>
        <ul>
            <li><b>Name: </b> {{ employee.name }} </li>
            <li><b>Birthday: </b> {{ employee.birthday }} </li>
            <li><b>Street: </b> {{ employee.street }} </li>
            <li><b>City: </b> {{ employee.city }} </li>
            <li><b>Phone: </b> {{ employee.phone }} </li>
            <li><b>Zip: </b> {{ employee.zip_code }} </li>
        </ul>               
    </div>

    <form method="POST">
        {% csrf_token %}
        <a href="javascript:history.back()" class="btn btn-dark"> Back </a>
        <input type="submit" value="Delete" class="btn btn-danger">
    </form>
</div>
{% endblock %}