<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>
<table style="width:100%">
  <tr>
    <th>Name</th>
    <td>{{employee.name}}</td>
  </tr>
  <tr>
    <th>Birthday</th>
    <td>{{employee.birthday}}</td>
  </tr>
  <tr>
    <th>Street</th>
    <td>{{employee.street}}</td>
  </tr>
  <tr>
    <th>City</th>
    <td>{{employee.city}}</td>
  </tr>
  <tr>
    <th>Phone</th>
    <td>{{employee.phone}}</td>
  </tr>
  <tr>
    <th>Zip</th>
    <td>{{employee.zip_code}}</td>
  </tr>
</table>
</body>
</html>
